<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Testing Loans">
		<classes>
			<class name="udemy.testNG.loans.DCULoans" />
			<class name="udemy.testNG.loans.BofALoans" />
			<class name="udemy.testNG.loans.LendingTree" />
			<class name="udemy.testNG.days.Day1" />
		</classes>

	</test>

	<test name="Test">
		<classes>
			<class name="udemy.testNG.loans.AmexLoans" />
			<class name="udemy.testNG.days.Day2" />
		</classes>
	</test>


</suite> 
